.container{
    background-color: rgb(76, 76, 245);
    display: flex;
    justify-content: space-around;
    height: 750px;
    color: white;
}
.input-text{
    height: 400px;
    width: 600px;
    background-color: rgb(76, 76, 245);
    border: 2px solid black;
    border-radius: 5px;
    color: whitesmoke;
}
.output-text{
    height: 500px;
    width: 500px;
    background-color: rgb(78, 75, 75);
    border-radius: 5px;
    box-shadow:5px 5px rgb(55, 58, 55);
    color: whitesmoke;
    font-weight: bold;
}
